<div class="containter-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="image">
        <img src="assets/Baggrund-About%2010.jpg" alt="" width="100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="text text-lefts">
        <h3>Keld Lundberg Holm</h3>
        <h5>Founder and owner of 360invest</h5>
        <p>More than 30 years of experience within investment management and advisory including sustainable investment and active ownership (ESG).
          <br>
          <br>
          From 2009-2017 CEO of The Danish Finance Society and CFA Society Denmark and prior to this Chief Investment Officer at Nykredit Asset Management.
          <br>
          <br>
          Positions at Danske Capital as Head of Asset Allocation & Risk Management and Head of Retail & Development. Before working at Danske Capital, he was Chief Investment Officer at BG Bank Asset Management and Head of Research at Bikuben.
        </p>
      </div>
    </div>
  </div>
</div>
