.text {
  margin-top: 30%;
  text-align: left;
  color: white;
}

.container-fluid {
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: url("src/assets/Baggrund-Home-02.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




